* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: green;
}

.car {
  width: 200px;
  transition: transform 0.25s;
  position: absolute;
}

.turn-left {
  transform: rotate(180deg);
}

.turn-right {
  transform: rotate(0deg);
}

.turn-north {
  transform: rotate(-90deg);
}

.turn-south {
  transform: rotate(90deg);
}
